<header>
    <img src="../../../assets/images/logoBriefing.JPG" alt="Logo de la empresa" class="logo">
    <div class="container">
        <nav class="menu">
            <ul class="lista_navegador ">
                <li><a href="#"><i class="fa-solid fa-play" id="mens"></i>MENSWEAR</a></li>
                <li><a href="#"><i class="fa-solid fa-play"></i>FOOTWEAR</a></li>
                <li><a href="#"><i class="fa-solid fa-play" id="icono_acc"></i>ACCESORIES</a></li>
                <li><a href="#"><i class="fa-solid fa-play" id="icono_cle"></i>CLEARANCE</a></li>
            </ul>
        </nav>
    </div>
    <button class="nav-toggle">
        <i class="fa-solid fa-bars"></i>
    </button>
</header>



